#player1NameText:before {
    content: "Tempo | ZeRo";
}

#player1TwitterText:before {
    content: "@zerowondering";
}

#player1ScoreText:before {
    content: "2";
}

#player1Character {
    background-image: url('../../CharacterIcons/fox.png');
}

#player1Port {
    background-image: url('../../PlayerPorts/playerPort2.png');
}

#player2NameText:before {
    content: "NRG | Nairo";
}

#player2TwitterText:before {
    content: "@nairomk";
}

#player2ScoreText:before {
    content: "3";
}

#player2Character {
    background-image: url('../../CharacterIcons/zerosuitsamus.png');
}

#player2Port {
    background-image: url('../../PlayerPorts/playerPort2.png');
}

#tournamentText:before {
    content: "";
}

#extraText:before {
    content: "";
}

#roundText:before {
    content: "";
}

#bestOfText:before {
    content: "";
}