body
{
	margin: 0px;
	padding: 0px;
}

/* players */

.players
{
	width: 1920px;
	height: 80px;
}

/* players END*/



/* player */

.player
{
	width: 960px;
	height: 80px;
}

#player1
{
	float: left;
}

#player2
{
	float: right;
}

/* player END */



/* playerBox */

.playerBox
{
	width: 650px;
	height: 50px;
	margin-top: 30px;
	overflow: hidden;
	animation: showPlayerBox 1s;
}

#player1Box
{
	float: right;
	background-image: url('..\\playerBackgrounds\\player1Background.png');
}

#player2Box
{
	float: left;
	background-image: url('..\\playerBackgrounds\\player2Background.png');
}

/* playerBox END */


/* playerScoreBox */

.playerScoreBox
{
	width: 20px;
	height: 50px;
	display: flex;
	align-items: center;
}

#player1ScoreBox
{
	float: left;
	margin-left: 10px;
}

#player2ScoreBox
{
	float: right;
	margin-right: 10px;
}

/* playerScoreBox END */



/* playerScore */

.playerScore
{
	color: white;
	margin: 0;
}

/* playerScore END */



/* playerPort */

.playerPort
{
	width: 50px;
	height: 50px;
	display:inline-block;
	background-repeat: no-repeat;
}

#player1Port
{
	float: left;
	margin-left: 50px;
}

#player2Port
{
	float: right;
	margin-right: 50px;
}

/* playerPort END */



/* playerCharacter */

.playerCharacter
{
	width: 50px;
	height: 50px;
	background-size: contain;
	background-repeat: no-repeat;
}

/* playerCharacterEnd */


/* playerNameBox */

.playerNameBox
{
	width: 250px;
	height: 50px;
}

#player1NameBox
{
	float: left;
	margin-left: 150px;
	text-align: center;
}

#player2NameBox
{
	float: right;
	margin-right: 150px;
	text-align: center;
}

/* playerNameBox END */



/* playerNameContainer */

.playerNameContainer
{
	min-width: 100px;
	max-width: 250px;
	height: 50px;
	display: flex;
	align-items: center;
	overflow: hidden;
}

#player1NameContainer
{
	float: left; 
}

#player2NameContainer
{
	float: right;
}

/* playerNameContainer END */



/* playerName */

.playerName
{
	color: white;
	margin: 0;
}

/* playerName END*/


/* tournamentInfo */

.tournamentInfo
{
	width: 1920px;
	height: 18px;
}

/* tournamentInfo END */



/* info */

.info
{
	width: 960px;
	height: 18px;
}

#infoRound
{
	float: left;
}

#infoTournament
{
	float: right;
}

/* info END */



/* infoBox */

.infoBox
{
	width: auto;
	height: 18px;
	padding-left: 40px;
	padding-right: 40px;
	text-align: center;
	background-image: url('..\\boxBackground\\infoBoxBackground.png');
}

#infoRoundBox
{
	float: right;
}

#infoTournamentBox
{
	float: left;
}

/* infoBox END */



/* boxText */

.boxText
{
	width: auto;
	margin: 0px;
	white-space: nowrap;
	color: white;
}

/* BoxText END */



/* animations */

@keyframes showPlayerBox
{
	0% {width:0%}
	100% {width:67.70833333333333%}
}

/* animations END */



/* content */

#player1Character
{
	background-image: url('..\\characterIcons\\Bowser.png');
}

#player1Port
{
	background-image: url('..\\playerPorts\\playerPort1.png');
}

#player1NameText:before
{
	content:"Gogoku7";
}

#player1ScoreText:before
{
	content:"1";
}

#player2Character
{
	background-image: url('..\\characterIcons\\Bowser.png');
}

#player2Port
{
	background-image: url('..\\playerPorts\\playerPort2.png');
}

#player2NameText:before
{
	content:"ZeRo";
}

#player2ScoreText:before
{
	content:"1";
}

#roundText:before
{
	content:"Round 1";
}

#bestOfText:before
{
	content:"Best of 3";
}

#tournamentText:before
{
	content:"Syndicate 2018";
}

#extraText:before
{
	content:"Wii U Singles";
}

/* content END */