#crew1NameText:before {
    content: "Gogoku7";
}

#crew1StocksLeftText:before {
    content: "15";
}

#crew1Character {
    background-image: url('../../CharacterIcons/akuma.png');
}

#crew1Country {
    background-image: url('../../../../Flags/AF.svg');
}

#crew2NameText:before {
    content: "Draco";
}

#crew2StocksLeftText:before {
    content: "15";
}

#crew2Character {
    background-image: url('../../CharacterIcons/zafina.png');
}

#crew2Country {
    background-image: url('../../../../Flags/AX.svg');
}

#roundText:before {
    content: "Winners Round 1";
}

#bestOfText:before {
    content: "Best of 3";
}
