#squad1NameText:before {
    content: "Team Europe";
}

#squad1Player1NameText:before {
    content: "MR. R";
}

#squad1Player2NameText:before {
    content: "Glutonny";
}

#squad1Player3NameText:before {
    content: "Quik";
}

#squad1Player4NameText:before {
    content: "Space";
}




#squad1Player1TwitterText:before {
    content: "@mrr";
}

#squad1Player2TwitterText:before {
    content: "@glutonny";
}

#squad1Player3TwitterText:before {
    content: "@quik";
}

#squad1Player4TwitterText:before {
    content: "@space";
}




#squad1Character1 {
    background-image: url('../../CharacterIcons/banjokazooie.png');
}

#squad1Character2 {
    background-image: url('../../CharacterIcons/bayonetta.png');
}

#squad1Character3 {
    background-image: url('../../CharacterIcons/bowser.png');
}

#squad1Character4 {
    background-image: url('../../CharacterIcons/bowserjr.png');
}

#squad1Character5 {
    background-image: url('../../CharacterIcons/byleth.png');
}



#squad1Port {
    background-image: url('../../PlayerPorts/PlayerPort1.png');
}

#squad1Country {
    background-image: url('../../../../Flags/AF.svg');
}

#squad2NameText:before {
    content: "Team America";
}

#squad2Player1NameText:before {
    content: "Nairo";
}

#squad2Player2NameText:before {
    content: "MKLeo";
}

#squad2Player3NameText:before {
    content: "Samsora";
}

#squad2Player4NameText:before {
    content: "Marss";
}




#squad2Player1TwitterText:before {
    content: "@nairo";
}

#squad2Player2TwitterText:before {
    content: "@mkleo";
}

#squad2Player3TwitterText:before {
    content: "@samsora";
}

#squad2Player4TwitterText:before {
    content: "@marss";
}




#squad2Character1 {
    background-image: url('../../CharacterIcons/zerosuitsamus.png');
}

#squad2Character2 {
    background-image: url('../../CharacterIcons/zelda.png');
}

#squad2Character3 {
    background-image: url('../../CharacterIcons/younglink.png');
}

#squad2Character4 {
    background-image: url('../../CharacterIcons/yoshi.png');
}

#squad2Character5 {
    background-image: url('../../CharacterIcons/wolf.png');
}



#squad2Port {
    background-image: url('../../PlayerPorts/PlayerPort8.png');
}

#squad2Country {
    background-image: url('../../../../Flags/AX.svg');
}

#roundText:before {
    content: "Winners Round 1";
}

#bestOfText:before {
    content: "Best of 3";
}
