#commentator1NameText:before {
    content: "ParagonX9";
}
#commentator2NameText:before {
    content: "Gogoku7";
}
#commentator3NameText:before {
    content: "Median4";
}


#commentator1TwitterText:before {
    content: "";
}
#commentator2TwitterText:before {
    content: "";
}
#commentator3TwitterText:before {
    content: "";
}

