#player1NameText:before {
    content: "Crucible | Draco";
}

#player1TwitterText:before {
    content: "@Draco";
}

#player1TwitchText:before {
    content: "Draco";
}

#player1ScoreText:before {
    content: "2";
}

#player1Character {
    background-image: url('../../CharacterIcons/zelda_07.png');
}

#player1Port {
    background-image: url('../../PlayerPorts/PlayerPort1.png');
}

#player1Country {
    background-image: url('../../../../Flags/AX.svg');
}

#player2NameText:before {
    content: "TDB | Gogoku7";
}

#player2TwitterText:before {
    content: "@Gogoku7";
}

#player2TwitchText:before {
    content: "Gogoku7";
}

#player2ScoreText:before {
    content: "1";
}

#player2Character {
    background-image: url('../../CharacterIcons/banjokazooie.png');
}

#player2Port {
    background-image: url('../../PlayerPorts/PlayerPort2.png');
}

#player2Country {
    background-image: url('../../../../Flags/AF.svg');
}

#tournamentText:before {
    content: "Fight Night 50";
}

#extraText:before {
    content: "Esports Game Arena";
}

#roundText:before {
    content: "Winners Round 1";
}

#bestOfText:before {
    content: "Best of 3";
}
