body
{
	margin: 0px;
	padding: 0px;
}

/* players */

.players
{
	width: 1920px;
	height: 80px;
}

/* players END*/



/* player */

.player
{
	width: 960px;
	height: 80px;
}

#player1
{
	float: left;
}

#player2
{
	float: right;
}

/* player END */



/* playerBox */

.playerBox
{
	width: 650px;
	height: 50px;
	margin-top: 30px;
	overflow: hidden;
	animation: showPlayerBox 1s;
}

#player1Box
{
	float: right;
	background-image: url('../PlayerBackgrounds/Player1Background.png');
}

#player2Box
{
	float: left;
	background-image: url('../PlayerBackgrounds/Player2Background.png');
}

/* playerBox END */



/* playerScoreBox */

.playerScoreBox 
{
    width: 20px;
    height: 50px;
    line-height: 50px;
    align-items: center;
    overflow: hidden;
}

#player1ScoreBox
{
	float: left;
	margin-left: 10px;
}

#player2ScoreBox
{
	float: right;
	margin-right: 10px;
}

/* playerScoreBox END */



/* playerScore */

.playerScore
{
	color: white;
	margin: 0;
}

/* playerScore END */



/* playerPort */

.playerPort
{
	width: 90px;
	height: 50px;
	display: inline-block;
	background-repeat: no-repeat;
}

#player1Port
{
	float: left;
	margin-left: 50px;
}

#player2Port
{
	float: right;
	margin-right: 50px;
}

/* playerPort END */



/* playerCharacter */

.playerCharacter
{
	width: 90px;
	height: 50px;
	background-size: contain;
	background-repeat: no-repeat;
}

/* playerCharacterEnd */



/* playerNameBox */

.playerNameBox
{
	width: 250px;
	height: 50px;
}

#player1NameBox
{
	float: left;
	margin-left: 60px;
}

#player2NameBox
{
	float: right;
	margin-right: 60px;
}

/* playerNameBox END */



/* playerNameContainer */

.playerNameContainer 
{
    width: 200px;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
}

#player1NameContainer 
{
    float: left;
    text-align: left;
}

#player2NameContainer 
{
    float: right;
    text-align: right;
}

/* playerNameContainer END */



/* playerName */

.playerName
{
	color: white;
	margin: 0;
}

/* playerName END*/


/* tournamentInfo */

.tournamentInfo
{
	width: 1920px;
	height: 18px;
}

/* tournamentInfo END */



/* info */

.info
{
	width: 960px;
	height: 18px;
}

#infoRound
{
	float: left;
}

#infoTournament
{
	float: right;
}

/* info END */



/* infoBox */

.infoBox
{
	width: auto;
	height: 18px;
	padding-left: 40px;
	padding-right: 40px;
	text-align: center;
	background-image: url('../BoxBackground/InfoBoxBackground.png');
}

#infoRoundBox
{
	float: right;
}

#infoTournamentBox
{
	float: left;
}

/* infoBox END */



/* boxText */

.boxText
{
	width: auto;
	margin: 0px;
	white-space: nowrap;
	color: white;
}

/* boxText END */



/* Snackbar */

.snackbar
{
    visibility: hidden;
    min-width: 250px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 2px;
    position: fixed;
    z-index: 1;
    bottom: 0px;
}


    .snackbar.show
    {
        visibility: visible;
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }

/* Snackbar END */



/* animations */

@keyframes showPlayerBox
{
	0%
    {
        width: 0%;
	}
	100%
    {
        width: 67.70833333333333%;
	}
}

/* animations END */