#player1NameText:before {
    content: "Crucible | Draco";
}

#player1TwitterText:before {
    content: "@Draco";
}

#player1TwitchText:before {
    content: "Draco";
}

#player1Character {
    background-image: url('../../CharacterIcons/alisa.png');
}

#player1Country {
    background-image: url('../../../../Flags/AX.svg');
}

#player2NameText:before {
    content: "TDB | Gogoku7";
}

#player2TwitterText:before {
    content: "@Gogoku7";
}

#player2TwitchText:before {
    content: "Gogoku7";
}

#player2Character {
    background-image: url('../../CharacterIcons/akuma.png');
}

#player2Country {
    background-image: url('../../../../Flags/AF.svg');
}

#roundText:before {
    content: "Winners Round 1";
}

#bestOfText:before {
    content: "Best of 3";
}
