body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 100%;
}

#manageCompetitors {
    min-height: 55px;
}

/* Snackbar */
.snackbar {
    visibility: hidden;
    min-width: 250px;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    bottom: 30px;
}

.snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

/* Snackbar END */

.cursorPointer {
    cursor: pointer;
}

div.panel {
    margin-bottom: 0px;
}

.quarter-horizontal-width {
    width: 25% !important;
}

.one-third-horizontal-width {
    width: calc(100% / 3) !important;
}

.half-horizontal-width {
    width: 50% !important;
}

.full-horizontal-width {
    width: 100% !important;
}

.panel-heading.row{
    margin-left: 0px;
    margin-right: 0px;
}

.panelButton {
    padding: 0px 12px !important;
}

.panelButton > .glyphicon-question-sign,
.panelButton > .glyphicon.glyphicon-erase,
.panelButton > .glyphicon.glyphicon-download-alt,
.panelButton > .glyphicon.glyphicon-refresh,
.panelButton > .glyphicon.glyphicon-resize-full,
.panelButton > .glyphicon.glyphicon-arrow-up,
.panelButton > .glyphicon.glyphicon-arrow-down,
.panelButton > .glyphicon-repeat {
    font-size: 11px;
}

.panelButton > .glyphicon.glyphicon-remove,
.panelButton > .glyphicon.glyphicon-ok,
.panelButton > .glyphicon.glyphicon-play {
    font-size: 12px;
}

#manageQueu .glyphicon-question-sign,
#manageQueu .glyphicon.glyphicon-erase,
#manageQueu .glyphicon.glyphicon-download-alt,
#manageQueu .glyphicon.glyphicon-refresh,
#manageQueu .glyphicon.glyphicon-resize-full,
#manageQueu .glyphicon.glyphicon-arrow-up,
#manageQueu .glyphicon.glyphicon-arrow-down,
#manageQueu .glyphicon-repeat {
    font-size: 11px;
}

#manageQueu .glyphicon.glyphicon-remove,
#manageQueu .glyphicon.glyphicon-ok {
    font-size: 12px;
}

#manageCommentators > .row {
    margin-bottom: 4px;
}

#moveCommentatorUp-0 {
    display: none;
}

#manageCommentatorsForm:last-child div[id^="commentator-row-"]:last-child button[id^="moveCommentatorDown-"] {
    display: none;
}

#crewPlayersContainer > .row, #squadPlayersContainer > .row {
    margin-bottom: 4px;
}

.big-checkbox {
    width: 35px;
    height: 35px;
    margin-left: 0px !important;
    margin-top: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
    max-width: initial;
}

/* Queu */

button[onclick="moveSetUp(0)"] {
    display: none;
}

#manageQueu :last-child form[id^="manageQueuForm_"] button[onclick^="moveSetDown"] {
    display: none;
}

div[id$="_SquadPlayersContainer"] > .row, #squadPlayersContainer > .row {
    margin-bottom: 4px;
}

/* Preview overlay */

.previewOverlayPanelBody {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.previewOverlayIframe {
    width: 100%;
    height: 1080px;
    overflow: hidden;
    border: 0;
}

.previewEnabled {
    height: 1080px;
}

.previewDisabled {
    height: 40px;
}

/* Monitor */

.monitorPanelBody {
    padding: 0;
    margin: 0;
    height: 187px;
}

/* WebSocket monitor */

.monitorPre {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
}

.monitorCode {
    width: 100%;
    margin: 0;
    border: 0;
    border-radius: 0;
    padding: 5px;
    padding-bottom: 24px;
}

.string {
    color: green;
}

.number {
    color: darkorange;
}

.boolean {
    color: blue;
}

.null {
    color: magenta;
}

.key {
    color: red;
}

/* WebSocket client monitor */

#webSocketDataMonitorTable {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

/* Monitor END */



/* Skin Picker */

.popover.characterSkinPopover {
    max-width: 750px;
    width: 750px;
}

.skin {
    margin-top: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    width: 100%;
    height: 88px;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
}

/* Skin Picker END */



/* Settings Modal */

#settingsModalBody .row:not(:first-child) {
    margin-top: 6px;
}

/* Settings Modal END */


/* Pulsate */

.btn.danger-pulsate {
    box-shadow: 0 0 0 0 rgba(232, 76, 61, 0.7);
    -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1) !important;
    -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1) !important;
    -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1) !important;
    animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1) !important;
}

.btn.active.danger-pulsate {
    box-shadow: 0 0 0 0 rgba(232, 76, 61, 0.7);
    -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1) !important;
    -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1) !important;
    -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1) !important;
    animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1) !important;
}

#newSetButton:focus > span.glyphicon.glyphicon-repeat {
    -webkit-animation: rotate;
    -webkit-animation-duration: 0.3s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;

    -moz-animation: rotate;
    -moz-animation-duration: 0.3s;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: linear;

    animation: rotate;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@-moz-keyframes rotate {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

input.danger-pulsate {
    box-shadow: 0 0 0 0 rgba(232, 76, 61, 0.7);
    -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1) !important;
    -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1) !important;
    -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1) !important;
    animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1) !important;
}

@-webkit-keyframes pulse {
    to {
        box-shadow: 0 0 0 25px rgba(232, 76, 61, 0);
    }
}

@-moz-keyframes pulse {
    to {
        box-shadow: 0 0 0 25px rgba(232, 76, 61, 0);
    }
}

@-ms-keyframes pulse {
    to {
        box-shadow: 0 0 0 25px rgba(232, 76, 61, 0);
    }
}

@keyframes pulse {
    to {
        box-shadow: 0 0 0 25px rgba(232, 76, 61, 0);
    }
}

/* Pulsate END */


/* Media queries */

@media only screen and (min-width: 540px) and (max-width: 1217px) {
    .panelButton > text {
        display: none !important;
    }

    form[id^="manageQueuForm_"] button > text {
        display: none !important;
    }
}

/* Media queries END */