#crew1NameText:before {
    content: "Europe";
}

#crew1Player1NameText:before {
    content: "Glutonny";
    color: yellow;
}

#crew1Player2NameText:before {
    content: "Mr. R";
    color: lightgray;
}

#crew1Player3NameText:before {
    content: "Sodrek";
    color: lightgray;
}

#crew1Player4NameText:before {
    content: "iStudying";
}
#crew1Player5NameText:before {
    content: "G-danzee";
}




#crew1StocksLeftText:before {
    content: "9";
}

#crew1Character {
    background-image: url('../../CharacterIcons/wario.png');
}

#crew1Port {
    background-image: url('../../PlayerPorts/PlayerPort1.png');
}

#crew2NameText:before {
    content: "USA";
}

#crew2Player1NameText:before {
    content: "VoiD";
    color: yellow;
}

#crew2Player2NameText:before {
    content: "Larry lurr";
    color: lightgray;
}

#crew2Player3NameText:before {
    content: "ZeRo";
}
#crew2Player4NameText:before {
    content: "Nairo";
    color: lightgray;
}

#crew2Player5NameText:before {
    content: "Esam";
}




#crew2StocksLeftText:before {
    content: "9";
}

#crew2Character {
    background-image: url('../../CharacterIcons/pichu.png');
}

#crew2Port {
    background-image: url('../../PlayerPorts/PlayerPort2.png');
}

#tournamentText:before {
    content: "";
}

#extraText:before {
    content: "";
}

#roundText:before {
    content: "";
}

#bestOfText:before {
    content: "";
}
