#crew1NameText:before {
    content: "fhdfbefdg";
}

#crew1Player1NameText:before {
    content: "rehe";
    color: yellow;
}


#crew1Player2NameText:before {
    content: "-rgerg";
    color: lightgray;
}


#crew1Player3NameText:before {
    content: "tf-d";
}

#crew1Player4NameText:before {
    content: "5y";
}

#crew1Player5NameText:before {
    content: "errg";
}



#crew1Player1TwitterText:before {
    content: "";
}

#crew1Player2TwitterText:before {
    content: "";
}

#crew1Player3TwitterText:before {
    content: "";
}

#crew1Player4TwitterText:before {
    content: "";
}

#crew1Player5TwitterText:before {
    content: "";
}



#crew1Player1Character {
    background-image: url('../../CharacterIcons/random.png');
}

#crew1Player2Character {
    background-image: url('../../CharacterIcons/random.png');
}

#crew1Player3Character {
    background-image: url('../../CharacterIcons/random.png');
}

#crew1Player4Character {
    background-image: url('../../CharacterIcons/random.png');
}

#crew1Player5Character {
    background-image: url('../../CharacterIcons/random.png');
}



#crew1StocksLeftText:before {
    content: "0";
}

#crew1Character {
    background-image: url('../../CharacterIcons/bowser.png');
}

#crew1Port {
    background-image: url('../../PlayerPorts/PlayerPort2.png');
}

#crew2NameText:before {
    content: "dfbdfsb";
}

#crew2Player1NameText:before {
    content: "ergerhd";
    color: yellow;
}


#crew2Player2NameText:before {
    content: "fber";
    color: lightgray;
}


#crew2Player3NameText:before {
    content: "grege";
}

#crew2Player4NameText:before {
    content: "egred";
}

#crew2Player5NameText:before {
    content: "erg";
}



#crew2Player1TwitterText:before {
    content: "";
}

#crew2Player2TwitterText:before {
    content: "";
}

#crew2Player3TwitterText:before {
    content: "";
}

#crew2Player4TwitterText:before {
    content: "";
}

#crew2Player5TwitterText:before {
    content: "";
}



#crew2Player1Character {
    background-image: url('../../CharacterIcons/random.png');
}

#crew2Player2Character {
    background-image: url('../../CharacterIcons/random.png');
}

#crew2Player3Character {
    background-image: url('../../CharacterIcons/random.png');
}

#crew2Player4Character {
    background-image: url('../../CharacterIcons/random.png');
}

#crew2Player5Character {
    background-image: url('../../CharacterIcons/random.png');
}



#crew2StocksLeftText:before {
    content: "0";
}

#crew2Character {
    background-image: url('../../CharacterIcons/bayonetta.png');
}

#crew2Port {
    background-image: url('../../PlayerPorts/PlayerPort1.png');
}

#tournamentText:before {
    content: "";
}

#extraText:before {
    content: "";
}

#roundText:before {
    content: "";
}

#bestOfText:before {
    content: "";
}
