#player1NameText:before {
    content: "BYOC | Lonpos";
}

#player1TwitterText:before {
    content: "";
}

#player1TwitchText:before {
    content: "";
}

#player1Character {
    background-image: url('');
}

#player1Port {
    background-image: url('');
}

#player1Country {
    background-image: url('');
}

#player2NameText:before {
    content: "TDB | Gogoku7";
}

#player2TwitterText:before {
    content: "";
}

#player2TwitchText:before {
    content: "";
}

#player2Character {
    background-image: url('');
}

#player2Port {
    background-image: url('');
}

#player2Country {
    background-image: url('');
}

#roundText:before {
    content: "Winners Round 1";
}

#bestOfText:before {
    content: "Best of 3";
}
