#player1NameText:before {
    content: "Pagani";
}

#player1TwitterText:before {
    content: "";
}

#player1TwitchText:before {
    content: "";
}

#player1ScoreText:before {
    content: "0";
}

#player1Character {
    background-image: url('');
}

#player1Country {
    background-image: url('../../../../Flags/NL.svg');
}

#player2NameText:before {
    content: "KarmaKens";
}

#player2TwitterText:before {
    content: "";
}

#player2TwitchText:before {
    content: "";
}

#player2ScoreText:before {
    content: "1";
}

#player2Character {
    background-image: url('');
}

#player2Country {
    background-image: url('../../../../Flags/NL.svg');
}

#tournamentText:before {
    content: "Fight Night 50";
}

#extraText:before {
    content: "Esports Game Arena";
}

#roundText:before {
    content: "Winners Round 3";
}

#bestOfText:before {
    content: "Best of 5";
}
