#crew1NameText:before {
    content: "Dutch Brawlers";
}

#crew1Player1NameText:before {
    content: "";
}

#crew1Player2NameText:before {
    content: "";
}

#crew1Player3NameText:before {
    content: "";
}

#crew1Player4NameText:before {
    content: "";
}

#crew1Player5NameText:before {
    content: "";
}



#crew1Player1TwitterText:before {
    content: "";
}

#crew1Player2TwitterText:before {
    content: "";
}

#crew1Player3TwitterText:before {
    content: "";
}

#crew1Player4TwitterText:before {
    content: "";
}

#crew1Player5TwitterText:before {
    content: "";
}



#crew1Player1Character {
    background-image: url('');
}

#crew1Player2Character {
    background-image: url('');
}

#crew1Player3Character {
    background-image: url('');
}

#crew1Player4Character {
    background-image: url('');
}

#crew1Player5Character {
    background-image: url('');
}



#crew1StocksLeftText:before {
    content: "15";
}

#crew1Character {
    background-image: url('../../CharacterIcons/banjokazooie.png');
}

#crew1Port {
    background-image: url('../../PlayerPorts/PlayerPort1.png');
}

#crew2NameText:before {
    content: "Backroom";
}

#crew2Player1NameText:before {
    content: "";
}

#crew2Player2NameText:before {
    content: "";
}

#crew2Player3NameText:before {
    content: "";
}

#crew2Player4NameText:before {
    content: "";
}

#crew2Player5NameText:before {
    content: "";
}



#crew2Player1TwitterText:before {
    content: "";
}

#crew2Player2TwitterText:before {
    content: "";
}

#crew2Player3TwitterText:before {
    content: "";
}

#crew2Player4TwitterText:before {
    content: "";
}

#crew2Player5TwitterText:before {
    content: "";
}



#crew2Player1Character {
    background-image: url('');
}

#crew2Player2Character {
    background-image: url('');
}

#crew2Player3Character {
    background-image: url('');
}

#crew2Player4Character {
    background-image: url('');
}

#crew2Player5Character {
    background-image: url('');
}



#crew2StocksLeftText:before {
    content: "15";
}

#crew2Character {
    background-image: url('../../CharacterIcons/bayonetta.png');
}

#crew2Port {
    background-image: url('../../PlayerPorts/PlayerPort2.png');
}

#tournamentText:before {
    content: "";
}

#extraText:before {
    content: "";
}

#roundText:before {
    content: "Winners Round 1";
}

#bestOfText:before {
    content: "Best of 3";
}
