#crew1NameText:before {
    content: "Backroom";
}

#crew1Player1NameText:before {
    content: "Itami";
}

#crew1Player2NameText:before {
    content: "Yatogami";
}



#crew1Player1TwitterText:before {
    content: "";
}

#crew1Player2TwitterText:before {
    content: "";
}



#crew1Player1Character {
    background-image: url('');
}

#crew1Player2Character {
    background-image: url('');
}



#crew1StocksLeftText:before {
    content: "15";
}

#crew1Character {
    background-image: url('../../CharacterIcons/bayonetta.png');
}

#crew1Port {
    background-image: url('../../PlayerPorts/PlayerPort2.png');
}

#crew1Country {
    background-image: url('../../../../Flags/AX.svg');
}

#crew2NameText:before {
    content: "Dutch Brawlers";
}

#crew2Player1NameText:before {
    content: "Patrino";
}

#crew2Player2NameText:before {
    content: "Gogoku7";
}



#crew2Player1TwitterText:before {
    content: "";
}

#crew2Player2TwitterText:before {
    content: "";
}



#crew2Player1Character {
    background-image: url('');
}

#crew2Player2Character {
    background-image: url('');
}



#crew2StocksLeftText:before {
    content: "15";
}

#crew2Character {
    background-image: url('../../CharacterIcons/banjokazooie.png');
}

#crew2Port {
    background-image: url('../../PlayerPorts/PlayerPort1.png');
}

#crew2Country {
    background-image: url('../../../../Flags/AF.svg');
}

#tournamentText:before {
    content: "";
}

#extraText:before {
    content: "";
}

#roundText:before {
    content: "Winners Round 1";
}

#bestOfText:before {
    content: "Best of 3";
}
