#team1NameText:before {
    content: "";
}

#team1ScoreText:before {
    content: "?";
}

#team1Player1NameText:before {
    content: "???";
}
#team1Player2NameText:before {
    content: "???";
}


#team1Player1Character {
    background-image: url('../../CharacterIcons/random.png');
}
#team1Player2Character {
    background-image: url('../../CharacterIcons/random.png');
}


#team1Player1Port {
    background-image: url('../../PlayerPorts/playerPortNo.png');
}
#team1Player2Port {
    background-image: url('../../PlayerPorts/playerPortNo.png');
}


#team2NameText:before {
    content: "";
}

#team2ScoreText:before {
    content: "?";
}

#team2Player1NameText:before {
    content: "???";
}
#team2Player2NameText:before {
    content: "???";
}


#team2Player1Character {
    background-image: url('../../CharacterIcons/random.png');
}
#team2Player2Character {
    background-image: url('../../CharacterIcons/random.png');
}


#team2Player1Port {
    background-image: url('../../PlayerPorts/playerPortNo.png');
}
#team2Player2Port {
    background-image: url('../../PlayerPorts/playerPortNo.png');
}


#tournamentText:before {
    content: "";
}

#extraText:before {
    content: "";
}

#roundText:before {
    content: "";
}

#bestOfText:before {
    content: "";
}