#team1NameText:before {
    content: "Team NaRo";
}

#team1ScoreText:before {
    content: "1";
}

#team1Player1NameText:before {
    content: "Tempo | ZeRo";
}
#team1Player2NameText:before {
    content: "NRG | Nairo";
}


#team1Player1Character {
    background-image: url('../../CharacterIcons/cloud.png');
}
#team1Player2Character {
    background-image: url('../../CharacterIcons/zelda.png');
}


#team1Player1Port {
    background-image: url('../../PlayerPorts/PlayerPort1.png');
}
#team1Player2Port {
    background-image: url('../../PlayerPorts/PlayerPort2.png');
}


#team2NameText:before {
    content: "Team Saiyan";
}

#team2ScoreText:before {
    content: "2";
}

#team2Player1NameText:before {
    content: "Cinnovate | Gogoku7";
}
#team2Player2NameText:before {
    content: "Auto | Median4";
}


#team2Player1Character {
    background-image: url('../../CharacterIcons/falco.png');
}
#team2Player2Character {
    background-image: url('../../CharacterIcons/greninja.png');
}


#team2Player1Port {
    background-image: url('../../PlayerPorts/PlayerPort3.png');
}
#team2Player2Port {
    background-image: url('../../PlayerPorts/PlayerPort4.png');
}


#tournamentText:before {
    content: "Fight Night 34";
}

#extraText:before {
    content: "Smash Wii U Doubles";
}

#roundText:before {
    content: "Winners Round 2";
}

#bestOfText:before {
    content: "Best of 3";
}