#team1NameText:before {
    content: "Team Saiyan";
}

#team1Player1NameText:before {
    content: "TDB | Gogoku7";
}
#team1Player2NameText:before {
    content: "Crucible | Draco";
}


#team1Player1TwitterText:before {
    content: "Gogoku7";
}
#team1Player2TwitterText:before {
    content: "Draco";
}


#team1Player1TwitchText:before {
    content: "Gogoku7";
}
#team1Player2TwitchText:before {
    content: "Draco";
}


#team1Player1Character {
    background-image: url('');
}
#team1Player2Character {
    background-image: url('');
}


#team1Player1Port {
    background-image: url('../../PlayerPorts/PlayerPort1.png');
}
#team1Player2Port {
    background-image: url('../../PlayerPorts/PlayerPort2.png');
}


#team1Player1Country {
    background-image: url('../../../../Flags/AF.svg');
}
#team1Player2Country {
    background-image: url('../../../../Flags/AL.svg');
}


#team2NameText:before {
    content: "Team NaRo";
}

#team2Player1NameText:before {
    content: "NRG | Nairo";
}
#team2Player2NameText:before {
    content: "Tempo | ZeRo";
}


#team2Player1TwitterText:before {
    content: "NairoMK";
}
#team2Player2TwitterText:before {
    content: "Zeronwondering";
}


#team2Player1TwitchText:before {
    content: "NairoMK";
}
#team2Player2TwitchText:before {
    content: "Zerowondering";
}


#team2Player1Character {
    background-image: url('');
}
#team2Player2Character {
    background-image: url('');
}


#team2Player1Port {
    background-image: url('../../PlayerPorts/PlayerPort3.png');
}
#team2Player2Port {
    background-image: url('../../PlayerPorts/PlayerPort4.png');
}


#team2Player1Country {
    background-image: url('../../../../Flags/ZW.svg');
}
#team2Player2Country {
    background-image: url('../../../../Flags/AX.svg');
}


#roundText:before {
    content: "Winners Round 1";
}

#bestOfText:before {
    content: "Best of 3";
}
