#crew1NameText:before {
    content: "Team Saiyan";
}

#crew1StocksLeftText:before {
    content: "15";
}

#crew1Character {
    background-image: url('../../CharacterIcons/banjokazooie.png');
}

#crew1Port {
    background-image: url('../../PlayerPorts/PlayerPort1.png');
}

#crew1Country {
    background-image: url('../../../../Flags/AF.svg');
}

#crew2NameText:before {
    content: "Team NaRo";
}

#crew2StocksLeftText:before {
    content: "15";
}

#crew2Character {
    background-image: url('../../CharacterIcons/zerosuitsamus.png');
}

#crew2Port {
    background-image: url('../../PlayerPorts/PlayerPort8.png');
}

#crew2Country {
    background-image: url('../../../../Flags/AX.svg');
}

#roundText:before {
    content: "Winners Round 1";
}

#bestOfText:before {
    content: "Best of 3";
}
