#team1NameText:before {
    content: "Team Saiyan";
}

#team1ScoreText:before {
    content: "0";
}

#team1Player1NameText:before {
    content: "C | Gogoku7";
}
#team1Player2NameText:before {
    content: "Median4";
}


#team1Player1Character {
    background-image: url('../../CharacterIcons/fox.png');
}
#team1Player2Character {
    background-image: url('../../CharacterIcons/pikachu.png');
}


#team1Player1Port {
    background-image: url('../../PlayerPorts/playerPort1.png');
}
#team1Player2Port {
    background-image: url('../../PlayerPorts/playerPort2.png');
}


#team2NameText:before {
    content: "Team NaRo";
}

#team2ScoreText:before {
    content: "1";
}

#team2Player1NameText:before {
    content: "Tempo | ZeRo";
}
#team2Player2NameText:before {
    content: "NRG | NaiRo";
}


#team2Player1Character {
    background-image: url('../../CharacterIcons/fox.png');
}
#team2Player2Character {
    background-image: url('../../CharacterIcons/kirby.png');
}


#team2Player1Port {
    background-image: url('../../PlayerPorts/playerPort3.png');
}
#team2Player2Port {
    background-image: url('../../PlayerPorts/playerPort4.png');
}


#tournamentText:before {
    content: "Syndicate 2019";
}

#extraText:before {
    content: "64 Singles";
}

#roundText:before {
    content: "Winners Round 2";
}

#bestOfText:before {
    content: "Best of 3";
}