<div class="modal fade" id="skinPickerModal" tabindex="-1" role="dialog" aria-labelledby="skinPickerModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close glyphicon glyphicon-remove" data-dismiss="modal" aria-label="Close"></button>
                <h4 class="modal-title" id="skinPickerModalLabel">Skin picker</h4>
            </div>

            <div class="modal-body" id="skinPickerModalBody">

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>