.changing
{
    opacity: 0 !important;
    transition-duration: 0.5s;
    transition-property: opacity;
    
}

.changed
{
    opacity: 1 !important;
    transition-duration: 0.5s;
    transition-property: opacity;
}

.changing-visbility
{
    visibility: hidden !important;
    transition-duration: 0.5s;
    transition-property: visibility;
    
}

.changed-visbility
{
    visibility: visible !important;
    transition-duration: 0.5s;
    transition-property: visibility !important;
}