#team1NameText:before {
    content: "Team Saiyan";
}

#team1ScoreText:before {
    content: "1";
}

#team1Player1NameText:before {
    content: "TDB | Gogoku7";
}
#team1Player2NameText:before {
    content: "C | Median4";
}


#team1Player1TwitterText:before {
    content: "@gogoku7";
}
#team1Player2TwitterText:before {
    content: "@median4";
}


#team1Player1TwitchText:before {
    content: "Gogoku7";
}
#team1Player2TwitchText:before {
    content: "Median4";
}


#team1Player1Character {
    background-image: url('../../CharacterIcons/banjokazooie.png');
}
#team1Player2Character {
    background-image: url('../../CharacterIcons/bayonetta.png');
}


#team1Player1Port {
    background-image: url('../../PlayerPorts/PlayerPort1.png');
}
#team1Player2Port {
    background-image: url('../../PlayerPorts/PlayerPort2.png');
}


#team1Player1Country {
    background-image: url('../../../../Flags/ZW.svg');
}
#team1Player2Country {
    background-image: url('../../../../Flags/AX.svg');
}


#team2NameText:before {
    content: "Team NaRo";
}

#team2ScoreText:before {
    content: "1";
}

#team2Player1NameText:before {
    content: "Tempo | Zero";
}
#team2Player2NameText:before {
    content: "NRG | Nairo";
}


#team2Player1TwitterText:before {
    content: "@zerowondering";
}
#team2Player2TwitterText:before {
    content: "@nairomk";
}


#team2Player1TwitchText:before {
    content: "ZeroWondering";
}
#team2Player2TwitchText:before {
    content: "NairoMK";
}


#team2Player1Character {
    background-image: url('../../CharacterIcons/bowser.png');
}
#team2Player2Character {
    background-image: url('../../CharacterIcons/bowserjr.png');
}


#team2Player1Port {
    background-image: url('../../PlayerPorts/PlayerPort3.png');
}
#team2Player2Port {
    background-image: url('../../PlayerPorts/PlayerPort4.png');
}


#team2Player1Country {
    background-image: url('../../../../Flags/AF.svg');
}
#team2Player2Country {
    background-image: url('../../../../Flags/AL.svg');
}


#tournamentText:before {
    content: "Fight Night 50";
}

#extraText:before {
    content: "Esports Game Arena";
}

#roundText:before {
    content: "Winners Round 1";
}

#bestOfText:before {
    content: "Best of 3";
}
